.wrapper {
    background-color: aliceblue;
    flex: 1 1 auto;
}

.content {
    width: 80%;
    margin:0 auto;
    display: flex;
    flex-direction: row;
}

.twoImg {
    max-height: 300px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 10px rgb(0 0 0 / 7%);
    transition: 0.3s all;
}

.item span{
    width: 50%;
    display: block;
}

.item input {
    display: block;
    border: 1px solid black;
    height: 25px;
    width: 40%;
    justify-self: right;
    border-radius: 5px;
}
.item {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    /*width: 250px;*/
    width: 100%;
    justify-content: space-between;
}

.button1 {
    margin-top: 10px;
    border: 2px solid black ;
    background-color: #032049;
    color: #aacdfb;
    border-radius: 5px;
    width: 50%;
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
    height: 30px;
    align-items: center;
}
.OneColomn {
    display: flex;
    flex-direction: column;
    /*width: 30vw;*/
}
.TwoColomn {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 40vw;
}
.resultsItem {
    margin-top: 50px;
}

.Tooltip {
    size: 16px
}

@media (max-width: 450px) {
    .content{
        flex-direction: column;
    }
    .resultsItem {
        margin-top: 25px;
    }
    .OneColomn {
        width: 100%;
    }
    .button1 {
        width: 200px;
        height: 30px;
        font-size: 16px;
        margin-bottom: 0;
    }
    .TwoColomn {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .item {
        width: 100%;
        margin-left: 0;
    }
    .item select {
        display: inline-block;
        height: 25px;
        width: 50%
    }
    .item input {
        margin-left: 5px;
        display: inline-block;
        height: 25px;
    }
}